.hljs-comment,.hljs-quote
{
	color:#7e7887;
}

.hljs-attribute,.hljs-link,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable
{
	color:#be4678;
}

.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type
{
	color:#a85d42;
}

.hljs-bullet,.hljs-string,.hljs-symbol
{
	color:#2a9292;
}

.hljs-section,.hljs-title
{
	color:#576ddb;
}

.hljs-keyword,.hljs-selector-tag
{
	color:#4b7fd4;
}

.hljs-addition,.hljs-deletion
{
	color:#19171c;
	display:inline-block;
	width:100%;
}

.hljs-deletion
{
	background-color:#be4678;
}

.hljs-addition
{
	background-color:#2a9292;
}

.hljs
{
	display:block;
	overflow-x:auto;
	background:#f5f5f5;
	color:#8b8792;
	padding:.5em;
}

.hljs-emphasis
{
	font-style:italic;
}

.hljs-strong
{
	font-weight:700;
}