body{
    background-color: black;
}
.ChatRoom{
    height: 300px;
    width: 400px;
}
.Status{
    height: 28px;
    width: 250px;
    left: 435px;
}
.UserInfo{
    width: 250px;
    height: 256px;
    left: 435px;
    top: 52px;
}
.InputArea{
    height: 29px;
    width: 677px;
    top: 325px;
}
.Block{
    position: absolute;
    border: 2px solid #cccccc;
}
.Block .Title{
    position: absolute;
    top:-7px;
    left: 7px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono';
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    background-color: #cccccc;
}
.Input{
    position: absolute;
    height: 14px;
    width: 660px;
    left: 5px;
    top: 7px;
    color: #cccccc;
    font-family: Consolas;
    background-color: black;
    outline: none;
    border:0;
}
.Output{
    margin: 0;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono';
    color:#cccccc;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    word-wrap: break-word;
    white-space: pre-wrap;
    left: 7px;
    top: 7px;
    overflow: hidden;
}
.ChatRoom .Output{
    width: 387px;
    height: 287px;
    overflow: auto;
}
.Output::-webkit-scrollbar{
    width: 5px;
}
.Output::-webkit-scrollbar:hover {
    width: 10px;
    background-color: #776170;
}
.Output::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #C9613F;
}
.Status .Output{
    top:7px;
}
.UserInfo .Output{
    width: 236px;
    height: 242px;
    overflow: auto;
}
.fuckat{
    background-color: #ffff00;
    color: black;
}