body{
    background-color: black;
}
.ChatRoom{
    height: 443px;
    width: 510px;
}
.Status{
    height: 36px;
    width: 345px;
    left: 540px;
}
.UserInfo{
    width: 345px;
    height: 384px;
    left: 540px;
    top: 67px;
}
.InputArea{
    height: 135px;
    width: 877px;
    top: 470px;
}
.Block{
    position: absolute;
    border: 2px solid #cccccc;
}
.Block .Title{
    position: absolute;
    top:-7px;
    left: 7px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    background-color: #cccccc;
}
.Input{
    position: absolute;
    height: 115.5px;
    width: 860px;
    left: 7.5px;
    top: 10.5px;
    color: #cccccc;
    font-family: Consolas;
    background-color: black;
    outline: none;
    border:0;
}
.Output{
    margin: 0;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    color:#cccccc;
    font-size: 14px;
    position: absolute;
    word-wrap: break-word;
    white-space: pre-wrap;
    left: 10.5px;
    top: 10.5px;
    overflow: hidden;
}
.ChatRoom .Output{
    width: 495px;
    height: 430.5px;
    overflow: auto;
}
.Output::-webkit-scrollbar,
.Input::-webkit-scrollbar,
code::-webkit-scrollbar,
.MessageInfo::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.Output::-webkit-scrollbar:hover,
.Input::-webkit-scrollbar:hover,
code::-webkit-scrollbar:hover,
.MessageInfo::-webkit-scrollbar:hover{
    background-color: #776170;
}
.Output::-webkit-scrollbar-thumb,
.Input::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.MessageInfo::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: #C9613F;
}
.Output::-webkit-scrollbar-corner,
.Input::-webkit-scrollbar-corner,
code::-webkit-scrollbar-corner,
.MessageInfo::-webkit-scrollbar-corner{
    display: none;
}
.Status .Output{
    top:10.5px;
}
.UserInfo .Output{
    width: 325px;
    height: 363px;
    overflow: auto;
}
.fuckat{
    background-color: #ffff00;
    color: black;
}
.InputType{
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    color:#cccccc;
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    left: 10.5px;
    top: 613px;
}
.MessageInfo{
    background: #00717d;
    border-radius: 3px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 455px;
    overflow-x:auto;
    display: inline-block;
}
.SignIn{
    background: #004c11 !important;
    display: block !important;
}
.Error,
.SignOut{
    background: #630000 !important;
    display: block !important;
}
.Warning{
    background: #616300 !important;
    display: block !important;
}
.light{
    color: #ffff00;
}

/* Markdown Config */
p, h1, h2, h3, h4, h5, h6{
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    color:#cccccc;
    display: inline;
    margin: 0px;
}
img{
    max-width: 100%;
    height: auto;
}
ol, li, ul{
    margin: 0px;
    display: block;
    max-width: 100%;
}
ol {
    list-style-type: decimal;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
pre {
    margin: 0px;
    display: inline;
}
pre > code{
    display: inline-block !important;
    width: 100%;
}
code {
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    margin: 0px;
    display: inline;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    background: #164b66;
    border-radius: 3px;
}
hr {
    display: inline-block;
    background: ;
    width: 100%;
}
a {color: #55d015;}
a:hover {color: #42c100;}
a:onclick {color: #42c100;}
a:visited {color: #55d015;}
table{border-collapse: collapse; padding:2px;}
table > tr > th, table > tr > td { border-color:#fff; }
th, td{
    border: 1px solid #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
blockquote {
    font-size: 0px;
    line-height: 1;
    text-indent: 0px;
    border-left-color: rgb(53, 57, 59);
    border-left-style: solid;
    border-left-width: 5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 10px 20px;
    padding-bottom: 10px;
    margin-top: 10px !important;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-size-adjust: 100%;
    white-space: normal;
    display: block;
    quotes: none;
}
blockquote > blockquote{
    margin-bottom: 10px !important;
}
blockquote > p{
    font-size: 14px;
    margin: 0px;
    text-indent: 0px;
    margin-block-start: 0px;
    display: block;
}
blockquote > p::before,
blockquote > p::after {
    content: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}
