body{
    overflow: hidden;
    border: 0px;
}
.ChatRoom{
    height: 443px;
    width: 510px;
}
.Status{
    height: 36px;
    width: 345px;
    left: 540px;
}
.UserInfo{
    width: 345px;
    height: 384px;
    left: 540px;
    top: 67px;
}
.InputArea{
    height: 160px;
    width: 877px;
    top: 470px;
    tab-size: 4;
}
.Block{
    position: absolute;
}
.Block .Title{
    z-index: 1;
    position: absolute;
    top:-7px;
    left: 7px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}
.Input{
    margin: 7.5px 7.5px 0px 7.5px;
    height: 115px;
    width: 860px;
    border-width: 0 0 2px 0;
    border-style: solid;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    outline: none;
}
.Preview{
    margin: 7.5px 7.5px 0px 7.5px;
    height: 115px !important;
    max-height: 115px !important;
    white-space: pre-wrap;
    flex-direction: column;
    width: 860px;
    border-width: 0 0 2px 0;
    border-style: solid;
    padding: 2px;
    font-size: 14px;
    overflow: scroll;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    outline: none;
}
.Output{
    margin: 0;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    position: absolute;
    word-wrap: break-word;
    white-space: pre-wrap;
    left: 10.5px;
    top: 10.5px;
    overflow: hidden;
}
.ChatRoom .Output{
    width: 495px;
    height: 430.5px;
    overflow: auto;
}
.Output::-webkit-scrollbar,
.Input::-webkit-scrollbar,
.Preview::-webkit-scrollbar,
code::-webkit-scrollbar,
.IPList > span::-webkit-scrollbar,
.MessageInfo::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.Output::-webkit-scrollbar-thumb,
.Input::-webkit-scrollbar-thumb,
.Preview::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.IPList > span::-webkit-scrollbar-thumb,
.MessageInfo::-webkit-scrollbar-thumb{
    border-radius: 1px;
}
.Output::-webkit-scrollbar-corner,
.Input::-webkit-scrollbar-corner,
.Preview::-webkit-scrollbar-corner,
code::-webkit-scrollbar-corner,
.IPList > span::webkit-scrollbar-corner,
.MessageInfo::-webkit-scrollbar-corner{
    display: none;
}
.Output::-webkit-scrollbar,
.Input::-webkit-scrollbar,
.Preview::-webkit-scrollbar,
code::-webkit-scrollbar,
.IPList > span::webkit-scrollbar,
.MessageInfo::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.Output::-webkit-scrollbar-thumb,
.Input::-webkit-scrollbar-thumb,
.Preview::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.IPList > span::webkit-scrollbar-thumb,
.MessageInfo::-webkit-scrollbar-thumb{
    border-radius: 1px;
}
.Output::-webkit-scrollbar-corner,
.Input::-webkit-scrollbar-corner,
.Preview::-webkit-scrollbar-corner,
code::-webkit-scrollbar-corner,
.IPList > span::-webkit-scrollbar-corner,
.MessageInfo::-webkit-scrollbar-corner{
    display: none;
}
.Status .Output{
    top:10.5px;
}
.UserInfo .Output{
    width: 325px;
    height: 363px;
    overflow: auto;
}
.InputType{
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    line-height: 1.5;
    margin-left: 10px;
}
.PreviewType{
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    right: 10px;
}
.ThemeList{
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
}
.MessageInfo{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 455px;
    overflow-x:auto;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 0 4px;
    padding: 0.5em 1.05em;
    margin-bottom: 7px;
    margin-top: 7px;
}
.chatRoomList{
    pointer-events: auto;
    position: relative;
    left: 0px;
    width: 490px;
    height: 70px;
}
.onlineIPCard, .recentIPCard, .customIPCard, .addIPCard{
    width: 200px;
    height: 30px;
    display: inline-block;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 0 4px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    white-space: pre-wrap;
}
.IPList{
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    margin-bottom: 10px;
}
.IPList > p{
    pointer-events: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.IPList > span{
    pointer-events: auto;
    display: block;
    height: 55px;
    width: 480px;
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.Message{
    min-height: 14px;
    overflow-y: hidden;
    display: block;
}
.showContent{
    text-align: center;
    width:100%;
    height: 14px;
}
.SignIn{
    display: block !important;
}
.Error,
.SignOut{
    display: block !important;
}
.Warning{
    display: block !important;
}
.userTag{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
}
.WindowBuild{
    position:fixed;
    top:-8px;
    height:calc(100% + 8px);
    left:-8px;
    width:calc(100% + 8px);
    background-color:rgba(0,0,0,0.6);
    z-index:1;
    text-align:center;
    font-size: 14px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
}
.AlertWindow{
    pointer-events: auto;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
}
.WindowInfo{
    margin: 15px;
}
input{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-radius: 0;
    padding: 5px;
    font-size: 14px;
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    height: 16px;
    width: 300px;
}
/* Markdown Config */
p, h1, h2, h3, h4, h5, h6{
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    display: inline;
    margin: 0px;
}
img{
    max-width: 100%;
    height: auto;
}
ol, li, ul{
    margin: 0px;
    display: block;
    max-width: 100%;
}
ol {
    list-style-type: decimal;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
pre {
    margin: 0px;
    display: inline;
}
pre > code{
    display: inline-block !important;
    width: 100%;
}
code {
    font-family: 'Consolas','Fira Code','Source Code Pro','Lucida Console','Cascadia Code','Ubuntu Mono','Monospace';
    font-size: 14px;
    margin: 0px;
    display: inline;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    border-radius: 3px;
}
hr {
    display: inline-block;
    width: 100%;
}
table{border-collapse: collapse; padding:2px;}
th, td{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
blockquote {
    font-size: 0px;
    line-height: 1;
    text-indent: 0px;
    border-left-style: solid;
    border-left-width: 5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 10px 20px;
    padding-bottom: 10px;
    margin-top: 10px !important;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-size-adjust: 100%;
    white-space: normal;
    display: block;
    quotes: none;
}
blockquote > blockquote{
    margin-bottom: 10px !important;
}
blockquote > p{
    font-size: 14px;
    margin: 0px;
    text-indent: 0px;
    margin-block-start: 0px;
    display: block;
}
blockquote > p::before,
blockquote > p::after {
    content: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}