body{
    background-color: rgb(252, 252, 252);
}
.Block{
    border: 2px solid #e1ecf9;
}
.Block .Title{
    background-color: #e1ecf9;
    color:#66afe0;
}
.Input{
    color: black;
    border-bottom-color: #ccc;
    background-color:rgb(252, 252, 252);
}
.Preview{
    color: black;
    border-bottom-color: #ccc;
    background-color:rgb(252, 252, 252);
}
.PreviewType{
    color: black;
}
.chosenEditType{
    color: #3273dc;
}
.Output{
    color: black;
}
.fuckat{
    background-color: #ffff00;
    color: black;
}
.InputType{
    color: black;
}
.ThemeList, .ToolList{
    color: black;
}
.onlineIPCard{
    background: #9fbaff;
}
.recentIPCard{
    background: #c8ef99;
}
.customIPCard{
    background: #fca3ff;
}
.MessageInfo{
    background: #ececec;
    border-radius: 3px;
}
.IPList > p{
    background: #cacaca;
}
.IPList > p[on_focus|=true], .IPList > span{
    background: #e9e9e9;
}
.Plainmsg{
    border-color: #3298dc;
    background: rgb(238, 246, 252);
}
.onlineIPCard{
    border-color: #3298dc;
    color: #1d72aa;
    background: rgb(238, 246, 252);
}
.SignIn{
    border-color: #48c774;
    color: #257942;
    background: rgb(239, 250, 243);
}
.Error,
.SignOut{
    border-color: #f14668;
    color: #cc0f35;
    background: rgb(254, 236, 240);
}
.Warning{
    border-color: #ffdd57;
    color: #947600;
    background: rgb(255, 251, 235);
}
.recentIPCard{
    border-color: #ffdd57;
    color: #947600;
    background: rgb(255, 251, 235);
}
.customIPCard{
    border-color: #00d1b2;
    color: #00947e;
    background: rgb(235, 255, 252);
}
.addIPCard{
    border-color: #48c774;
    color: #257942;
    background: rgb(239, 250, 243);
}
.style_light{
    color: #f0dc1e;
}
.style_warning{
    color: #d2713a;
}
.style_error{
    color :#e7483f;
}
.style_accept{
    color: #20901c;
}
.style_pending{
    color: grey;
}
.userTag{
    border-radius: 4px;
    color: #fff;
}
.AlertWindow{
    background-color: rgb(248,248,248);
    color: black;
}
input{
    border-color: white;
    background: white;
    color: black;
}
a {color: #45d0f5;}
a:hover {color: #4eb2cd;}
a:onclick {color: #4eb2cd;}
a:visited {color: #45d0f5;}
table > tr > th, table > tr > td { border-color:black; }
p, h1, h2, h3, h4, h5, h6{color:black;}
td, th{
    border: 1px solid black;
}
code{background: #58c7ff;}
.Output::-webkit-scrollbar:hover,
.Input::-webkit-scrollbar:hover,
.Preview::-webkit-scrollbar:hover,
code::-webkit-scrollbar:hover,
.IPList > span::-webkit-scrollbar:hover,
.MessageInfo::-webkit-scrollbar:hover{
    background-color: #93d9e5;
}
.Output::-webkit-scrollbar-thumb,
.Input::-webkit-scrollbar-thumb,
.Preview::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.IPList > span::-webkit-scrollbar-thumb,
.MessageInfo::-webkit-scrollbar-thumb{
    background-color: #6bb4cb;
}
blockquote{
    border-left-color: rgb(105, 107, 108);
}