body{
    background-color: black;
}
.Block{
    border: 2px solid #cccccc;
}
.Block .Title{
    background-color: #cccccc;
    color: black;
}
.Input{
    color: #cccccc;
    background-color: black;
}
.Output{
    color:#cccccc;
}
.fuckat{
    background-color: #ffff00;
    color: black;
}
.InputType{
    color:#cccccc;
}
.MessageInfo{
    background: #00717d;
    border-radius: 3px;
}
.ThemeList{
    color: white;
}
.SignIn{
    background: #004c11 !important;
}
.Error,
.SignOut{
    background: #630000 !important;
}
.Warning{
    background: #616300 !important;
}
.style_warning, .style_light{
    color: #ffff00;
}
.style_error{
    color :#e7483f;
}
.style_accept{
    color: #13c60d;
}
.style_pending{
    color: grey;
}
.userTag{
    border-radius: 4px;
    color: #fff;
}
a {color: #55d015;}
a:hover {color: #42c100;}
a:onclick {color: #42c100;}
a:visited {color: #55d015;}
table > tr > th, table > tr > td { border-color:#fff; }
p, h1, h2, h3, h4, h5, h6{color:#cccccc;}
.Output::-webkit-scrollbar:hover,
.Input::-webkit-scrollbar:hover,
code::-webkit-scrollbar:hover,
.MessageInfo::-webkit-scrollbar:hover{
    background-color: #776170;
}
.Output::-webkit-scrollbar-thumb,
.Input::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.MessageInfo::-webkit-scrollbar-thumb{
    background-color: #C9613F;
}