body{
    background-color: rgb(24, 26, 27);
}
.Block{
    border: 2px solid #cccccc;
}
.Block .Title{
    background-color: #cccccc;
    color: black;
}
.Input{
    color: #cccccc;
    border-bottom-color: #ccc;
    background-color: rgb(24, 26, 27);
}
.Preview{
    color: #cccccc;
    border-bottom-color: #ccc;
    background-color: rgb(24, 26, 27);
}
.chosenEditType{
    color: rgb(68, 147, 223);
}
.PreviewType{
    color: #ccc;
}
.Output{
    color:#cccccc;
}
.fuckat{
    background-color: #ffff00;
    color: black;
}
.InputType{
    color:#cccccc;
}
.onlineIPCard{
    background: #255f7c;
}
.recentIPCard{
    background: #725313;
}
.customIPCard{
    background: #821e4e;
}
.IPList > p{
    background: #777;
}
.IPList > p[on_focus|=true], .IPList > span{
    background: #535353;
}
.MessageInfo{
    background: #00717d;
    border-radius: 3px;
}
.ThemeList, .ToolList{
    color: white;
}
.Plainmsg{
    border-color: rgb(25, 99, 149);
    background: rgb(17, 58, 79);
}
.onlineIPCard{
    border-color: rgb(25, 99, 149);
    color: rgb(92, 174, 227);
    background: rgb(17, 58, 79);
}
.SignIn{
    border-color: rgb(41, 133, 73);
    color: rgb(131, 217, 161);
    background: rgb(15, 48, 33);
}
.Error,
.SignOut{
    border-color: rgb(150, 11, 39);
    color: rgb(241, 65, 100);
    background: rgb(60, 3, 16);
}
.Warning{
    border-color: rgb(152, 122, 0);
    color: rgb(255, 224, 100);
    background: rgb(63, 50, 0);
}
.recentIPCard{
    border-color: rgb(152, 122, 0);
    color: rgb(255, 224, 100);
    background: rgb(63, 50, 0);
}
.customIPCard{
    border-color: rgb(0, 192, 164);
    color: rgb(100, 255, 232);
    background: rgb(0, 63, 56);
}
.addIPCard{
    border-color: rgb(41, 133, 73);
    color: rgb(131, 217, 161);
    background: rgb(15, 48, 33);
}
.style_warning, .style_light{
    color: #ffff00;
}
.style_error{
    color :#e7483f;
}
.style_accept{
    color: #13c60d;
}
.style_pending{
    color: grey;
}
.userTag{
    border-radius: 4px;
    color: #fff;
}
.AlertWindow{
    background: rgb(28,30,31);
    color: white;
}
input{
    border-color: #333;
    background: #333;
    color: white;
}
a {color: #55d015;}
a:hover {color: #42c100;}
a:onclick {color: #42c100;}
a:visited {color: #55d015;}
table > tr > th, table > tr > td { border-color:#fff; }
td, th{
    border: 1px solid #fff;
}
p, h1, h2, h3, h4, h5, h6{color:#cccccc;}
code{background: #0176b1;}
.Output::-webkit-scrollbar:hover,
.Input::-webkit-scrollbar:hover,
.Preview::-webkit-scrollbar:hover,
code::-webkit-scrollbar:hover,
.IPList > span::-webkit-scrollbar:hover,
.MessageInfo::-webkit-scrollbar:hover{
    background-color: #776170;
}
.Output::-webkit-scrollbar-thumb,
.Input::-webkit-scrollbar-thumb,
.Preview::-webkit-scrollbar-thumb,
code::-webkit-scrollbar-thumb,
.IPList > span::-webkit-scrollbar-thumb,
.MessageInfo::-webkit-scrollbar-thumb{
    background-color: #C9613F;
}
blockquote{
    border-left-color: rgb(172, 172, 172);
}